<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15925227333081832907</string>
		<key>run_input_hash</key>
		<string>11969607535523816785</string>
		<key>run_directories</key>
		<string>23 22 21 20 19 18 17 16 15 14 13 1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>30139</string>
		<key>_status</key>
		<string>3</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
