<?xml version="1.0"?>
<plist>
	<dict>
		<key>project_hash</key>
		<string>15925227333081832907</string>
		<key>run_input_hash</key>
		<string>16511072641725134763</string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>87056</string>
		<key>_status</key>
		<string>3</string>
		<key>run_directories</key>
		<string>13 </string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
