permissions:
  contents: write
name: Deploy
on:
  push:
    tags:
      - '*'
  workflow_run:
    workflows:
      - Tag latest
    types:
      - completed

jobs:
  deploy:
    name: Deploy
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, [macOS, ARM64]]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: s-weigand/setup-conda@v1
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Build
        run: |
          if [ -z "${CONDA_EXE}" ]; then export CONDA_EXE=$(readlink -f $(which conda)) ; fi
          git fetch --tags
          git log -n2 --decorate
          git tag
          git describe --tags
          echo github.ref ${{ github.ref }}
          conda config --set solver libmamba
          . $(dirname $CONDA_EXE)/../etc/profile.d/conda.sh
          conda create -n iMolpro-github
          conda activate iMolpro-github
          bash build.sh
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*bz2,dist/*dmg"
#        uses: softprops/action-gh-release@v1
#        if: startsWith(github.ref, 'refs/tags/')
#        with:
#          files: |
#            dist/*bz2
#            dist/*dmg
