name: Tag latest

on:
  push:
    branches:
      - 'licence-prompt'

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout branch "licence-prompt"
        uses: actions/checkout@v4
        with:
          ref: 'licence-prompt'
          token: ${{ secrets.PAT }}
      - name: tag
        id: tag
        run: |
          sha_short=$(git rev-parse --short HEAD)
          date=$(date +'%Y_%m_%d')
          tag=latest_${date}_${sha_short}
          echo "tag=${tag}" >> $GITHUB_OUTPUT
          git tag ${tag}
          git push --tags

    outputs:
      tag_name: ${{ steps.tag.outputs.tag }}

  clean:
    name: Clean obsolete latest
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - name: Delete old latest releases
        uses: dev-drprasad/delete-older-releases@v0.3.2
        with:
          keep_latest: 1
          delete_tag_pattern: 'latest*'
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
